/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header {
    text-align: center;
    background-color: rgb(51, 51, 54);
}
h1 {
    font-weight: bolder;
    font-size: 15px;
    font-family: monospace;
    color: rgb(247, 242, 242);
    padding-top: 8px;
}
.hh {
    margin-top: 8px;
    font-size: 10px;
    color: rgb(231, 216, 216);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sec1 {
    padding: 80px 0px 0px 80px;
    background-color: rgb(51, 51, 54);
}
.border {
    border: 0.2px solid rgb(121, 118, 118);
    margin-left: 5px;
    margin-right: 80px;
    margin-top: -40px;
    
}
#pp {
    padding-top: 8px;
    padding-left: 10px;
    font-size: 12px;
    color: rgba(252, 224, 224, 0.801);
    font-family: serif;
    padding-bottom: 60px;
}
h2 {
    font-family: monospace;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.sec2 {
    padding: 80px 0px 0px 80px;
    background-color: rgb(65, 65, 119);
}
.h3 {
    font-family: monospace;
    font-weight: bold;
    font-size: 10px;
    color: white;
    margin-top: -60px;
    margin-right: 60px;
    margin-left: -20px;
}
.img1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 0px 0px -10px;
}
.border1 {
    margin-top: 06px;
    margin-right: 100px;
    margin-left: -15px;
    border: 0.5px solid rgb(156, 155, 155);
}
.pp2 {
    color: rgb(173, 163, 163);
    padding-top: 06px;
    font-size: 10px;
    padding-bottom: 50px;
}
.lrn {
    display: inline-block;
    font-size: 11px;
    padding-bottom: 40px;
    color: white;
}
.sec3 {
    padding: 80px 0px 0px 80px;
    background-color: rgb(44, 44, 112);
}
.sec4 {
    padding: 80px 0px 0px 80px;
    background-color: rgb(13, 13, 151);
}
footer {
    background-color: rgb(56, 53, 53);
    padding-bottom: 50px;
}
.cc {
    font-size: 10px;
    color: rgb(204, 200, 200);
    padding-left: 150px;
    padding-bottom: 30px;
}    




